{% extends 'Beautyapp/base.html' %}
{% block title %} Contactus {% endblock %}
{% block content %}
{% load static %}
<div style="background-attachment: absolute;background-position: 0% 0%;background-size: cover;background-image: url('{% static 'images/conpic.jpg' %}');background-repeat: no-repeat;height: 560px;width: 100%">
	<form>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15299.94600710264!2d80.63002467155455!3d16.526779087054276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ccf59c0ae8275b1!2z4LCo4LGH4LC54LC-IOCwj-CwguCwnOCwv-CwsuCxjeCwuOCxjSDgsKzgsY3gsK_gsYLgsJ_gsYAg4LCq4LC-4LCw4LGN4LCy4LCw4LGNICYg4LCh4LC_4LCc4LGG4LGW4LCo4LC_4LCC4LCX4LGN!5e0!3m2!1ste!2sin!4v1609605892709!5m2!1ste!2sin" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		<div>
			<h2 style="color: yellow">ContactUs</h2>
			<h3 style="color: lightgreen">Email ID: mymail@gmail.com </h3>
			<h3 style="color: lightgreen">+91-8125687768</h3>
		</div>
	</form>
</div>

{% endblock %}