{% extends 'Beautyapp/base.html' %}
{% block title %}  {% endblock %}
{% block content %}
{% load static %}
<div class="container card-body bg-primary col-md-4 mt-3">
		<h1 class="alert alert-info">Edit Booking</h1>
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="services">Service</label>
				<input type="text" name="services" value="{{bed.services}}"class="form-control" id="services">
			</div>
			<div class="form-group">
				<label for="slot_date">slot_date</label>
				<input type="text" name="slot_date"  value="{{bed.slot_date}}" class="form-control" id="slot_date">
			</div>
			<div class="form-group">
				<label for="slot_time">slot_time</label>
				<input type="text" name="slot_time"  value="{{bed.slot_time}}" class="form-control" id="slot_time">
			</div>
			<div class="form-group">
				<label for="status">status</label>
				<input type="text" name="status"  value="{{bed.status}}" class="form-control" id="status">
			</div>
			<div class="form-group">
				<label for="paid">paid</label>
				<input type="text" name="paid"  value="{{bed.paid}}" class="form-control" id="paid">
			</div>
			<div class="text-center">
			<input type="submit" value="update" class="btn btn-outline-danger btn-lg">
			</div>
		</form>
	</div>
{% endblock %}