{% extends 'Beautyapp/base.html' %}
{% block title %} Myservices {% endblock %}
{% block content %}

	<div class="jumbotron col-md-7 mx-auto mt-3">
		<h3 style="text-align: center;">My Services</h3>
		<table class="table table-bordered table-hover table-stripped bg-info">
			<thead>
				<tr class="bg-primary">
					<th>S.no</th>
					<th>Service Name</th>
					<th>Service Image</th>
					<th>Service Cost</th>
					<th colspan="1">Action</th>
				</tr>
			</thead>
			<tbody class="bg-light">
				{% for k in li %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{k.s_name}}</td>
					<td><img class="thumbnil" src="/images/{{k.s_img}}" style="height: 200px;width: 300px"></td>
					<td>{{k.s_cost}}</td>
					<td>
					<a href="{% url 'delete' k.id %}"  class="btn btn-outline-info">delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}